@model InsuranceClaim.Models.PaymentInformationsModel
@{
    ViewBag.Title = "SaveDetailList";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}

<h2>SaveDetailList</h2>



<div class="productsave-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 products-top">
                <div class="head-title">
                    <h2>Save Detail List</h2>
                </div>
            </div>
            @*<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 add-btn">
                <div class="text-right">
                    <button type="button" class="btn btn-primary">Add</button>
                    <form>
                        <input class="btn btn-primary" type="button" value="Add" onclick="window.location.href='@Url.Action("Index", "CustomerRegistration" )'" />
                    </form>
                </div>
            </div>*@
        </div>
        <div class="product-table-grid">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Summary Detail Id</th>
                        <th>Vehicle Detail Id</th>
                        <th>Policy Id</th>
                        <th>Customer Id</th>
                        <th>Currency Id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.SummaryDetailId</td>
                        <td>@Model.CustomerId</td>
                        <td>@Model.PolicyId</td>
                        <td>@Model.CurrencyId</td>
                        <td>@Model.VehicleDetailId</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>