@model InsuranceClaim.Models.ClaimNotificationModel
@{
    ViewBag.Title = "SaveClaimant";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
    
}
<div class="body-content-section">
    <div class="form-section-top">
        <div class="container">

            @{
                var menutab = Html.Partial("ClaimRegister");
            }
            @menutab
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-section-col">
                    <div class="form-group-section">
                        <div class="form-title">
                            <h4>Claims Notification</h4>
                        </div>
                        <div class="form-group-input">
                            @using (Html.BeginForm("SaveClaimant", "Claimant", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @*@Html.HiddenFor(x => x.Id)*@

                                <div class="row">
                                    <div class="col-sm-6 col-md-6 form-group-text">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.PolicyNumber, new { @class = "gender-label" })
                                            @*@Html.TextBoxFor(x => x.PolicyNumber, new { @class = "form-control", @name = "CommissionName", @autocomplete = "off", @id = "CommissionName", @placeholder = "Enter Commission Name" })*@
                                            @Html.TextBoxFor(x => x.PolicyNumber, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Policy Number" })
                                            @Html.ValidationMessageFor(x => x.PolicyNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @*<div class="col-sm-6 col-md-6 form-group-text">
                                            <div class="form-group">
                                                @Html.LabelFor(x => x.DateOfLoss, new { @class = "gender-label" })
                                                @Html.TextBoxFor(x => x.DateOfLoss, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Date" })

                                            </div>
                                        </div>*@

                                    <div class="col-md-6 form-group-text">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.DateOfLoss, new { @class = "gender-label" })
                                            <div class="form-group-label">

                                                <div class='input-group' id='datetime3'>
                                                    @Html.TextBoxFor(x => x.DateOfLoss, new { @class = "form-control", @placeholder = "Date Of Loss" })

                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(x => x.DateOfLoss, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 form-group-text">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.PlaceOfLoss, new { @class = "gender-label" })
                                            @Html.TextBoxFor(x => x.PlaceOfLoss, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Place" })
                                            @Html.ValidationMessageFor(x => x.PlaceOfLoss, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                    <div class="col-sm-6 col-md-6 form-group-text">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.DescriptionOfLoss, new { @class = "gender-label" })
                                            @Html.TextBoxFor(x => x.DescriptionOfLoss, new { @class = "form-control", @autocomplete = "off", @placeholder = "Description" })
                                            @Html.ValidationMessageFor(x => x.DescriptionOfLoss, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 col-md-6 form-group-text">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.EstimatedValueOfLoss, new { @class = "gender-label" })
                                            @Html.TextBoxFor(x => x.EstimatedValueOfLoss, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Estimated value" })
                                            @Html.ValidationMessageFor(x => x.EstimatedValueOfLoss, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 form-group-text">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.ThirdPartyInvolvement, new { @class = "gender-label" })
                                            @Html.TextBoxFor(x => x.ThirdPartyInvolvement, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Thirdparty involvement" })
                                            @Html.ValidationMessageFor(x => x.ThirdPartyInvolvement, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="col-md-12 next-btn">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="text-left">
                                                <button type="button" class="btn" onclick="window.location.href='@Url.Action("ClaimantList", "Claimant")'">Cancel</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="text-right">
                                                <button type="submit" class="btn">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#datetime3").datetimepicker({
            format: 'MM/D/YYYY',
            maxDate:new Date()
        });
    });
</script>