@model InsuranceClaim.Models.ListGrossWrittenPremiumReportModels
@{
    ViewBag.Title = "GrossWrittenPremiumReport";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}

<div class="productsave-section GrossWrittenPremiumReport">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 products-top">
                <div class="head-title">
                    <h2>Gross Written Premium Report</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 add-btn">
                @*<input type="text" id="txtdate" placeholder="Enter date" class="form-control" />*@
            </div>
            @*<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 add-btn">
                    <button type="button" class="btn btn-primary pull-right" onclick="searchBydate()">Search</button>

                </div>*@
        </div>
        <div class="product-table-grid">
            <table class="table table-striped tablesorter">
                <thead>
                    <tr>
                        <th style="width: 170px;">Customer Name</th>
                        <th style="width: 180px;">Policy Number</th>
                        <th style="width:170px;">Policy Dates</th>
                        @*<th>Policy End Date</th>
                            <th>Transaction Date</th>*@
                        <th>Make and Model</th>
                        <th style="width:170px;">Payment Detail</th>
                        @*<th>Payment Mode</th>*@
                        <th>Sum Insured</th>
                        <th style="width:170px;">Premium</th>
                        <th>Stamp Duty</th>
                        <th>ZTSC Levy</th>
                        @*<th>Net Premium</th>*@
                        <th style="width:200px;">Commission Detail</th>
                        @*<th>Commission Amount</th>*@
                        <th style="text-align: left;">Radio Licence Cost</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListGrossWrittenPremiumReportdata.ToList())
                    {
                        <tr>
                            <td>@item.Customer_Name</td>
                            <td>@item.Policy_Number</td>
                            <td>
                                <table class="sub-table">
                                    <tr>
                                        <td><b>Policy Start Date :</b><br />@item.Policy_startdate<br /></td>

                                    </tr>
                                    <tr>
                                        <td><b>Policy End Date : </b><br />@item.Policy_endate<br /></td>

                                    </tr>
                                    <tr>
                                        <td><b>Transaction Date :</b><br />@item.Transaction_date<br /></td>
                                    </tr>
                                </table>
                            </td>
                            @*<td>@item.Policy_endate</td>
                                <td>@item.Transaction_date</td>*@
                            <td>@item.Vehicle_makeandmodel</td>
                            <td>                            
                                <table class="sub-table">
                                    <tr>
                                        <td><b>Payment Term :</b><br />@item.Payment_Term<br /></td>

                                    </tr>
                                    <tr>
                                        <td><b>Payment Mode : </b><br />@item.Payment_Mode<br /></td>

                                    </tr>                                  
                                </table>
                            </td>
                            @*<td>@item.Payment_Mode</td>*@
                            <td>$ @item.Sum_Insured</td>
                            <td>
                                <table class="sub-table">
                                    <tr>
                                        <td><b>Annual Premium :</b><br />$@item.Annual_Premium<br /></td>

                                    </tr>
                                    <tr>
                                        <td><b>Premium Due : </b><br />$@item.Premium_due<br /></td>

                                    </tr>
                                    <tr>
                                        <td><b>Net Premium : </b><br />$@item.Net_Premium<br /></td>

                                    </tr>
                                </table>
                            </td>
                            <td>$ @item.Stamp_duty</td>
                            <td>$ @item.ZTSC_Levy</td>
                            @*<td>@item.Net_Premium</td>*@
                            <td>
                                <table class="sub-table">
                                    <tr>
                                        <td><b>Commission Percentage :</b><br />@item.Comission_percentage %<br /></td>

                                    </tr>
                                    <tr>
                                        <td><b>Commission Amount : </b><br />$ @item.Comission_Amount<br /></td>

                                    </tr>
                                </table>
                            </td>
                            @*<td>@item.Comission_Amount</td>*@
                            <td>$@item.RadioLicenseCost</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

        $(".tablesorter").tablesorter({

            headers: {

                2: {
                    sorter: false
                },
                 4: {
                    sorter: false
                 },

                 6: {
                     sorter: false
                 },
                 9: {
                     sorter: false
                 },

            }




        } );
    });

</script>