@model List<InsuranceClaim.Models.RadioLicenceReportModel>
@{
    ViewBag.Title = "RadioLicenceReport";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}

<div class="productsave-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 products-top">
                <div class="head-title">
                    <h2>Radio Licence Reports</h2>
                </div>
            </div>
        </div>
        <div class="product-table-grid">

            <table class="table table-striped tablesorter">

                <thead>
                    <tr>
                        <th style="width:300px;">Customer Name</th>
                        <th style="width:300px;">Policy Number</th>
                        <th style="width:300px;">Transaction Date</th>
                        <th style="width:140px;text-align: left;">Radio Licence Cost</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FirstName @item.LastName</td>
                            <td>@item.Policy_Number</td>
                            <td>@item.Transaction_date</td>
                            <td>$ @item.RadioLicenseCost</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $(".tablesorter").tablesorter();
    });


</script>
