@model  List<InsuranceClaim.Models.ReinsuranceReport>
@{
    ViewBag.Title = "ReinsuranceReport";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}

<div class="productsave-section ReinuranceReport">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 products-top">
                <div class="head-title">
                    <h2>Reinsurance Report</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 add-btn">
                @*<input type="text" id="txtdate" placeholder="Enter date" class="form-control" />*@
            </div>
            @*<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 add-btn">
                    <button type="button" class="btn btn-primary pull-right" onclick="searchBydate()">Search</button>

                </div>*@
        </div>

        <div class="product-table-grid">
            <table class="table table-striped tablesorter">
                <thead>
                    <tr>
                        <th style="width:180px;">Customer Name</th>
                        <th>Contact number</th>
                        <th>Policy Number</th>
                        <th style="width:180px;">Policy Dates</th>
                        @*<th>Policy End Date</th>*@
                        @*<th>Transaction Date</th>*@
                        <th style="width:200px;">Sum Insured</th>
                        @*<th>Auto-Fac Sum Insured</th>
                            <th>Facultive Sum Insured</th>*@
                        <th style="width:180px;">Premium</th>
                        @*<th>Auto-Fac Premium</th>
                            <th>Facultive Premium</th>*@
                        <th style="width:180px;text-align: left;">Commission</th>
                        @*<th>Facultive Commission</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>@item.FirstName @item.LastName</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.PolicyNumber</td>

                            <td>
                                <table class="sub-table">
                                    <tr>
                                        <td><b>Policy Start Date :</b><br />@item.StartDate<br /></td>

                                    </tr>
                                    <tr>
                                        <td><b>Policy End Date : </b><br />@item.EndDate<br /></td>

                                    </tr>
                                    <tr>
                                        <td><b>Transaction Date :</b><br />@item.TransactionDate<br /></td>
                                    </tr>
                                </table>
                            </td>
                            @*<td>@item.EndDate</td>
                                <td>@item.TransactionDate</td>*@

                            <td>
                                <table class="sub-table">
                                    <tr>
                                        <td><b>Total Sum Insured :</b><br />$ @item.SumInsured<br /></td>

                                    </tr>
                                    <tr>
                                        <td><b>Auto-Fac Sum Inured : </b><br />$ @item.AutoFacSumInsured<br /></td>

                                    </tr>
                                    <tr>
                                        <td><b>Fac Sum Inured :</b><br />$ @item.FacSumInsured<br /></td>
                                    </tr>
                                </table>
                            </td>
                            @*<td>@item.AutoFacSumInsured</td>*@
                            @*<td>@item.FacSumInsured</td>*@

                            <td>
                                <table class="sub-table">
                                    <tr>
                                        <td><b>Total Premium :</b><br />$ @item.Premium<br /></td>

                                    </tr>
                                    <tr>
                                        <td><b>Auto-Fac Premium : </b><br />$ @item.AutoFacPremium<br /></td>

                                    </tr>
                                    <tr>
                                        <td><b>Fac Premium :</b><br />$ @item.FacPremium<br /></td>
                                    </tr>
                                </table>
                            </td>
                            @*<td>@item.AutoFacPremium</td>
                            <td>@item.FacPremium</td>*@
                            <td>
                                <table class="sub-table">
                                    <tr>
                                        <td><b>Auto-Fac Commission :</b><br />$ @item.AutoFacCommission<br /></td>

                                    </tr>
                                    <tr>
                                        <td><b>Fac Commission : </b><br />$ @item.FacCommission<br /></td>

                                    </tr>                                  
                                </table>
                            </td>
                            @*<td>@item.FacCommission</td>*@
                            <td>
                                <div class="tbl-btn-list">
                                    <ul class="list-inline"></ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

        $(".tablesorter").tablesorter({
            headers: {
                3: {
                    sorter: false
                },
                4: {
                    sorter: false
                },
                5: {
                    sorter: false
                },
                6: {
                    sorter: false
                },
            }
        });
    });

</script>