@*@model InsuranceClaim.Models.DashboardViewModel*@
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
    bool userLoggedin = (System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated;
}

<div class="top-banner-section">
    <div class="container">
        <div class="car-insurance-content">
            <h2>Dashboard<h2>
        </div>
    </div>
</div>

<div class="body-content-section">
    <div class="Process-step-section">
        <div class="container">

        </div>
    </div>

    <div class="form-section-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-section-col">
                    <div class="dashboard-section">
                        <div class="form-title">
                            <h4>Admin Dashboard</h4>
                        </div>

                        <div class="admin-box">
                            <div class="row">
                                <a href="@Url.Action("ListReinsuranceBroker", "Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Reinsurance Broker</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("SettingList", "Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Settings Management</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("PolicyList","Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Policy Management</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("CoverList","Covertype")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Cover Type Management</h4>
                                        </div>
                                    </div>
                                </a>

                            </div>

                            <div class="row">

                                <a href="@Url.Action("PolicyInsurerList", "PolicyInsurer")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Policy Insurer Management</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("ProductList", "Product")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Product Management</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("CommissionList", "Commission")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Agent Commission Management</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("VehicleUsageList", "VehicleUsage")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Vehicle Usage Management</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="row">


                                <a href="@Url.Action("RoleManagementList","Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Role Management</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("UserManagementList","Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>User Management</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("LicenceTickets","Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Licence Tickets Management</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("ListPolicyRenewReminderSetting","Account")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Policy Renew Reminder Setting </h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="dashboard-section">
                        <div class="form-title">
                            <h4>Reports</h4>
                        </div>

                        <div class="admin-box">
                            <div class="row">
                                <a href="@Url.Action("ZTSCLevyReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>ZTSC Levy Report</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("StampDutyReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Stamp Duty Report</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("ReinsuranceCommissionReport","Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Reinsurance Commission Report</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("GrossWrittenPremiumReport", "Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Gross Written Premium Report</h4>
                                        </div>
                                    </div>
                                </a>

                            </div>

                            <div class="row">

                                <a href="@Url.Action("VehicleRiskAboutExpire","Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Vehicles/Risks About to Expire</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("BasicCommissionReport","Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Basic Commission Report</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("ReinsuranceReport","Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Reinsurance Report</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("RadioLicenceReport","Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Radio Licence Report</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="row">
                                <a href="@Url.Action("CustomerListingReport","Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Customer Listing Report</h4>
                                        </div>
                                    </div>
                                </a>
                                <a href="@Url.Action("DailyReceiptsReport","Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Daily Receipts Report</h4>
                                        </div>
                                    </div>
                                </a>

                                <a href="@Url.Action("LapsedPoliciesReport","Report")">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                        <div class="color-box">
                                            <h4>Lapsed Policies Report</h4>
                                        </div>
                                    </div>
                                </a>



                                @*<a href="@Url.Action("rolemanagementlist","Account")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>Role Management</h4>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="@Url.Action("usermanagementlist","Account")">
                                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 width-auto hvr-grow-shadow">
                                            <div class="color-box">
                                                <h4>User Management</h4>
                                            </div>
                                        </div>
                                    </a>*@


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .row {
        margin-top: 22px;
    }
</style>

