@model InsuranceClaim.Models.PolicyInsurerModel
@{
    ViewBag.Title = "EditPolicy";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}

<style>
    #dot {
        padding: 10%;
    }
</style>
<div class="container" id="dot">

    @using (Html.BeginForm("EditPolicy", "Policy", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            @Html.Label("Insurer Name", new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.InsurerName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Insurer Code", new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.InsurerCode, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Insurer Address", new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.InsurerAddress, new { @class = "form-control" })
            </div>
        </div>


            
    }
</div>
