@model InsuranceClaim.Models.AgentCommissionModel
@{
    ViewBag.Title = "CommissionEdit";
    Layout = "~/Views/Shared/_InsuranceMain.cshtml";
}

<style>
    #dot {
        padding: 10%;
    }
</style>
<div class="container" id="dot">

    @using (Html.BeginForm("CommissionEdit", "Commission", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            @Html.Label("Commission Name", new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.CommissionName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Commission Amount", new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.CommissionAmount, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Management Commission", new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.ManagementCommission, new { @class = "form-control" })
            </div>
        </div>

        <div><input type="submit" name="Update" value="Update" class="btn btn-primary btn sm" /></div>
    }
</div>
